attrs==25.4.0
charset-normalizer==3.4.4
cssselect2==0.8.0
freetype-py==2.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lxml==6.0.2
pillow==12.1.0
pycairo==1.29.0
python-dateutil==2.9.0.post0
referencing==0.37.0
reportlab==4.4.7
rlPyCairo==0.4.0
rpds-py==0.30.0
six==1.17.0
svglib==1.6.0
tinycss2==1.5.1
webencodings==0.5.1
